@page "/"

<PageTitle>Welcome</PageTitle>

<div class="main-content">
    <DxGridLayout CssClass="index-gridlayout">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="tiles"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="title">
                <Template>
                    <div class="title-header-text">Hello WLN!</div>
                    <div class="title-content-text">Welcome to your ever helpfull AI Assistant Yvan</div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="tiles" CssClass="tiles">
                <Template>
                    <IndexTile NavigateUrl="aichat" Title="AI Chat" Description="Talk to Yvan about Labware (powered by an AI service.)" IconCssClass="icon-ai-chat" />
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>